
.heading h1{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
}
.box{

    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border:2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding:20px;
    text-align: center;
    color: #fff;
}
.btn{
    background-color: gray;
}
